.header {
  height: 100vh;
  max-height: 850px;
  background-color: #555555;
  background-image: url("/src/assets/bg.png");
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-top: 2.5rem;
  }
}
