.headline {
  text-align: center;
  color: $nav-links-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.25rem;
  letter-spacing: 2px;
  @include breakPoint(sm) {
    font-size: 3.7rem;
  }
  @include breakPoint(md) {
    font-size: 4em;
  }
  @include breakPoint(lg) {
    font-size: 4.375em;
  }
  &--sub {
    letter-spacing: 1px;
    font-size: 1.4375rem;
    font-weight: normal;
    @include breakPoint(sm) {
      font-size: 1.7rem;
    }
    @include breakPoint(sm) {
      font-size: 1.875rem;
      margin-top: 1.5625rem;
    }
  }
  &--dark {
    font-size: 1.875rem;
    letter-spacing: 1px;
    color: #343435;
    text-align: center;
  }
  &--description {
    color: #717171;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 1.25rem;
    max-width: 51.875rem;
    margin-left: auto;
    margin-right: auto;
  }
}
